body {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.home-section {
  height: 80vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
}
.head {
  height: fit-content;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(38, 37, 37);
  border-bottom: 1px solid blue;
  box-shadow: -1px -1px 8px 1px white inset, -1px -1px 8px 1px blue;
  color: white;
}
.image-logo {
  width: 56px;
  border: none;
}
.logo {
  display: flex;
  justify-content: start;
}
.tech {
  color: #65a3bbff;
}
.logo-name {
  display: flex;
  align-items: end;
  margin-bottom: 8px;
  color: rgb(22, 22, 194);
  margin-left: -14px;
}
.section {
  /* background-color: blue; */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
/* inserting profile */
.profile-container {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-top: 0;
}
.profile {
  height: 600px;
  width: auto;
  position: absolute;
  top: 20px;
}
/* intro section design */
.first {
  /* background-color: blue; */
  margin-left: 60px;
}
.hi,
.name {
  font-size: 90px;
  margin-bottom: 0;
  margin-top: 0;
  color: gray;
}
.name {
  color: violet;
  margin-top: 8px;
  font-size: 80px;
  letter-spacing: 8px;
}
.work {
  font-size: 40px;
  letter-spacing: 9px;
}
/* information about me */
.info-container {
  display: flex;
  align-items: end;
  gap: 40px;
  position: fixed;
  bottom: 22vh;
}

.email-ctn,.number-ctn {
  border-right: 1px solid gray;
  height: 80px;
}
h5 {
  font-size: 23px;
  margin-top: -5px;
  color: green;
}

.email, .phone, .address{
  display: flex;
  justify-content: start;
  align-items: flex-end;
  margin-bottom: 0px;
}
.g-address,.number, .place {
  padding-right: 10px;
  font-size: 19px;
}
.phone, .number, .address, .place{
margin-left: -25px;
}
.address-ctn{
  height: 80px;
}